/* install fonts */
    @font-face {
        font-family: nunitoSans;
        src: url('fonts/NunitoSans-Bold.ttf')
    }

    @font-face {
        font-family: monoton;
        src: url('fonts/Monoton-Regular.ttf');
    }

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: #939393;
}

.container .web-logo {
    font-family: nunitoSans;
    font-size: 30px;
    padding: 20px 15px;
    float: left;
    font-weight: bolder;
}

main {
    width: 100%;
    padding: 50px 0;
    margin-bottom: 30px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('images/images-bg1.jpg');
    background-size: cover;
}

main .web-desc {
    font-family: nunitoSans;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    letter-spacing: 5px;
    font-weight: bold;
    opacity: 0.9;
    margin-bottom: 10px;
}

main .team-desc {
    font-family: nunitoSans;
    font-size: 30px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 2px;
    opacity: 0.9;
}

/*  Pembagian kolom jadi 5 */
.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 5px;
}

/* kolom profile ditampilkan sejajar kebawah saat di layar kecil */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* menambahkan efek shadow ke kelas card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* nambah padding didalam container */
.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

.title {
    color:grey;
}