/* install fonts */
@font-face {
  font-family: nunitoSans;
  src: url("fonts/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: poirotOne;
  src: url("fonts/PoiretOne-Regular.ttf");
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: #939393;
}

.container .web-logo {
  font-family: poirotOne;
  font-size: 30px;
  padding: 20px 15px;
  float: left;
  font-weight: bolder;
}

main {
  width: 100%;
  padding: 50px 0;
  margin-bottom: 30px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/images-bg1.jpg");
  background-size: cover;
}

main .web-desc {
  font-family: nunitoSans;
  font-size: 40px;
  color: #fff;
  line-height: 1;
  letter-spacing: 5px;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 10px;
  animation: moveInTop 1s ease-out;
}

main .team-desc {
  font-family: nunitoSans;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 2px;
  opacity: 0.9;
  animation: moveInBottom 1s ease-out 0.2s;
}

/* Animasi untuk header */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Bagian Konten Body */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 90px 0;
}

.content-img {
  display: flex;
  align-items: center;
}

.content-img img {
  max-width: 650px;
  margin-right: 40px;
}

.content-text {
  width: 50%;
}

.content-text h1 {
  font-family: nunitoSans;
  font-weight: bold;
  font-size: 50px;
}

.content-text p {
  font-family: nunitoSans;
  font-size: 20px;
  margin-bottom: 40px;
}

.btn-content {
  text-decoration: none;
  padding: 12px 16px;
  font-family: nunitoSans;
  font-size: 16px;
  color: white;
  background-color: rgb(147, 147, 147);
  border-radius: 40px;
  transition: background-color 0.5s ease;
}
.btn-content:hover {
  background-color: black;
}

/* Responsive Breakpoint */
/* Smartphone */
@media screen and (max-width: 575.98px) {
  .content-img img {
    width: 80px;
    margin-right: 0;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-img {
    width: 100%;
  }

  .content-img img {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .content-text {
    width: 100%;
  }

  .content-text h1 {
    font-size: 30px;
  }

  .content-text p {
    font-size: 16px;
  }

  .btn-content {
    font-size: 16px;
  }
}

/* Akhir Konten Body */

/*  Pembagian kolom jadi 5 */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 5px;
}

/* kolom profile ditampilkan sejajar kebawah saat di layar kecil */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    padding-bottom: 10px;
    display: block;
  }
}

/* menambahkan efek shadow ke kelas card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* nambah padding didalam container */
.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/* Footer */
footer {
  background-color: rgb(147, 147, 147);
  padding: 50px 0;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 25px;
}

.footer-col h4 {
  font-size: 18px;
  font-family: poirotOne;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  width: 50px;
  height: 2px;
  box-sizing: border-box;
}

.footer-col ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: all 0.3s ease;
  font-family: nunitoSans;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  line-height: 40px;
  text-align: center;
  color: #000;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: #fff;
  color: #24262b;
}

/* Responsive Breakpoint */
/* Smartphone */
@media screen and (max-width: 575.98px) {
  .footer-row {
    margin-top: -20px;
    margin-bottom: -60px;
  }

  .footer-row .footer-col {
    width: 100%;
    font-size: 14px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
